
<div>
    <h3>Teacher & Subject Information</h3>

</div>

<table border="1">
    <tr>
    <th>
        TeacherId
    </th>
    <th>
        Teacher Name
    </th>
    <th>
        Subject Id
    </th>
    <th>
        Subject Name
    </th>
    <!-- <th>
        Student Course
    </th>
    <th>
        Student phone
    </th> -->
    
</tr>  
<tr *ngFor="let t of teacher" style="text-align: center;">
    <td style="text-align: center;">{{t.teacherId}}</td>
    <td style="text-align: center;">{{t.name}}</td>
    <!--<td >{{c.students[0].studentName}}</td> -->
 
  <td><table style="width: 50%;margin: auto;"><tr *ngFor="let s of t.subjectList" ><td style="border-bottom: solid 1px grey;text-align: center;"> {{s.subjectId}}</td></tr></table></td>
    
  
  <td><table style="width: 50%;margin: auto;"><tr *ngFor="let s of t.subjectList"><td style="border-bottom: solid 1px grey;text-align: center;">{{s.subjectName}}</td></tr></table></td>
  <!-- <td><table style="width: 50%;margin: auto;"><tr *ngFor="let s of t.subjectList"><td style="border-bottom: solid 1px grey;text-align: center;">{{s.studentCourse}}</td></tr></table></td>
  <td><table style="width: 50%;margin: auto;"><tr *ngFor="let s of t.subjectList"><td style="border-bottom: solid 1px grey;text-align: center;">{{s.studentPhone}}</td></tr></table></td> -->
 
</tr> 
</table>

<div>
    <h3 style="text-decoration: underline;">Update subject information in the teacher</h3>
    
    <table border="1px">

        <tr>
            <td><input type="text" [(ngModel)]="T.teacherId" placeholder="Enter Teacher Id"></td>
        </tr>

        <tr>
            <td><input type="text" [(ngModel)]="T.name" placeholder="Enter Teacher Name"></td>
        </tr>
        <tr>
            <td><input type="text" [(ngModel)]="subject.subjectId" placeholder="Enter Subject Id"></td>
        </tr>
        <tr>
            <td><input type="text" [(ngModel)]="subject.subjectName" placeholder="Enter Subject Name"></td>
        </tr>



    
    </table>
    <button (click)="updatesubTeacher()">update</button>
</div>



