<div>
    <ul id="a1">
  
      <span *ngIf="admin">Welcome Admin</span>
      <li><a routerLink="/addStudent">Add Student</a></li>
      <li><a routerLink="/updateStudent">Update Student</a></li>
      <li><a routerLink="/StudentList">All Student List</a></li>
      <li><a routerLink="/searchStudent">Search Student By Id</a></li>
      <li><a routerLink="/deleteStudent">Delete Student By Id</a></li>
      <br/>
      <li><a routerLink="/addclass">Add Class</a></li>
      <li><a routerLink="/updateClass">Update Class</a></li>
      <li><a routerLink="/classlist">Class & Student List</a></li>
      <li><a routerLink="/searchClass">Search Class By Id</a></li>
      <li><a routerLink="/updatestuClass">Update Class & student information</a></li>
      <li><a routerLink="/deleteclass">Delete Class By Id</a></li>
      <li><a routerLink="/subjectClass">Subject & Class List</a></li>
      <br/>
      <li><a routerLink="/addTeacher">Add Teacher</a></li>
      <li><a routerLink="/updateTeacher">Update Teacher</a></li>
      <li><a routerLink="/teacherlist">All teacher List</a></li>
      <li><a routerLink="/searchTeacher">Search Teacher By Id</a></li>
      <li><a routerLink="/stuteachlist">Teacher & Student List</a></li>    
      <li><a routerLink="/deleteTeacher">Delete Teacher By Id</a></li>
      <br/>
      <li><a routerLink="/addSubject">Add Subject</a></li>
      <li><a routerLink="/updateSubject">Update Subject</a></li>
      <li><a routerLink="/SubjectList">All Subject List</a></li>
      <li><a routerLink="/searchSubject">Search Subject By Id</a></li>
     
      <li><a routerLink="/deleteSubject">Delete Subject By Id</a></li>
    
      <li><a routerLink="/teacherSubject">Teacher & Subject List</a></li>
      <br/>
      <li><a routerLink="/userList">All Users List</a></li>
      <li><a routerLink="/adduser">Registation</a></li>
      <li><a routerLink="/deleteUser">Delete User</a></li>
      <li><a routerLink="/login">Login</a></li>
  
    </ul> 
  </div>
